venv/
LICENSE
pyproject.toml
pytest.ini
README.md
requirements.txt
setup.py
src/adapter/smartdoor
start_adapter.txt
tests/
docs/

__pycache__/

.idea/
build/
dist/
_build/
_generate/
*.so
*.py[cod]
*.egg-info
*env*
*coverage*
Testing/
CMakeCache.txt
cmake_install.cmake
CMakeFiles/
Makefile
__pycache__
.pytest_cache
